<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$</title>
</head>
<body>
<center>
    <form action="/user/useradd/" method="post" id="myform">
        <table border="0" >
            <tr>
                <td colspan="11" align="center">用户注册</td>
            </tr>
            <tr>
                <td align="right">用户名：</td>
                <td><input id="username" name="username" size="100"/></td>
                <td><span class="red" id="username"></span></td>

            </tr>
            <tr>
                <td align="right">密码：</td>
                <td><input id="userpassward" name="userpassward" size="100"/></td>
                <td><span class="red" id="userpassward"></span></td>
            </tr>
            <tr>
                <td colspan="6" align="center"><input type="submit" value="注册"/></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>